/* .header {
      text-align: center;
      font-size: 3rem;
    } */
    
    /* .active-list {
      width: 20%;
      height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    } */
    
    .movieInfo {
      width: 60%;
      height: 450px;
      display: flex;
    }
    
    .removed-div {
      width: 20%;
      height: 450px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: flex-start;
      align-items: flex-start;
    }
    
    .content-container {
      display: inline-flex;
      width: 100%;
      height: 450px;
    }
    
    .movieLibrary {
      width: 100%;
      height: 400px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .libraryTitle {
      font-size: 2rem;
      text-decoration: underline;
      text-align: center;
      justify-content: flex-start;
      align-items: flex-start;
    }
    
    .movieDetails {
      height: 450px;
      width: 65%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: flex-start;
      justify-content: flex-start;
      align-items: flex-start;
    }
    
    .moviePoster {
      height: 450px;
      width: 35%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
    
    #movie-box {
      margin: 10px 0px 0px 0px;
    }
    
    .deleted-title {
      margin: 15px 0px 10px 0px;
    }
    
    /* .addMovieSection {
      margin: 10px 0px 0px 0px;
    } */


    
    @media (max-width: 1000px) {
      .content-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: flex-end;
        padding-bottom: 250px;
       
      }
    
      .movieInfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    
      }
      .moviePoster {
        width: 50%;
    
      }
    
      .removed-div {
        display: flex;
     
        width: 50%;
      }
    
      .movieLibrary {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
    
      }
      .movieDetails {
        width: 100%;
    
    
      }
    
      img {
        width: 250px;
        height: 275px;
    
      }
      .active-list {
        width: 100%;
      }
      .libraryTitle { 
            padding: 15px 0px 10px 0px;
      }
    }
    

    @media (max-width: 420px) { 
       .libraryTitle { 
             padding: 200px 0px 15px 0px;
       }   
       .removed-div { 
             padding: 150px;
       }

       .deleted-title { 
             padding: 100px; 
       }
    }

    @media (max-width: 1300px) { 
          .moviePoster { 
                width: 100%;
                height: 450px;
          }
    }